.App {
  padding-top: 10px;
  background-color: rgb(249, 249, 255);
  min-height: 100vh;
}

.AppBarContent {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.MainContent {
  width: auto;
  max-width: 1000px;
  min-height: auto; /* because of padding */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}

.loadingContainer {
  display: flex;
  width: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .MainContent {
    margin: auto;
  }

  .AppBarContent {
    margin: auto;
  }
}
