.App {
  background-color: rgb(249, 249, 255);
  min-height: 100vh;
}

.AppBarContent {
  background-color: white;
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.MainContent {
  margin-top: auto;
  width: auto;
  padding: 16px;
  max-width: 1000px;
  min-height: auto; /* because of padding */
}

.loadingContainer {
  display: flex;
  width: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .MainContent {
    margin: auto;
  }

  .AppBarContent {
    margin: auto;
  }
}
