.inputContainer {
  display: grid;
  grid-template-columns: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  padding: 16px;
}

.inputLabel {
  font-size: 18px;
  margin-bottom: 5px;
}

.AutocompleteGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.CourseItem {
  margin-bottom: 30px;
}

.selectedCoursesContainer {
  margin-top: 30px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px sold lightgray;
}

a {
  color: blue;
  cursor: pointer;
  margin-right: 10px;
}

table,
td {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
