.CoursePage {
  margin-bottom: 100px;
}

.inputContainer {
  display: grid;
  grid-template-columns: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  padding: 16px;
}

.inputLabel {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.AutocompleteGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.selectedCoursesContainer {
  border-radius: 10px;
  margin-top: 30px;
}

.CalendarContainer {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.TableHead {
  margin-bottom: 20px;
}

td {
  height: 20px;
}

.CourseEventComponent {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 10px;
  padding: 16px;
}

a {
  color: blue;
  cursor: pointer;
  margin-right: 10px;
}

table,
td {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
